@media screen and (max-width: 600px) {
  /* Adjust nav bar layout */
  #nav-bar {
    all: initial;
  }
  #nav-bar a {
    all: initial;
    font-size: 20px;
  }
  .container-nav-custom {
    all: initial;
  }
  .container-nav-custom > div {
    align-items: center;
    border: none;
    display: block;
    margin: 10px auto;
    text-align: center;
  }
  /* Adjust personal info layout */
  #about > .container-custom {
    display: block;
  }
  .mt-40 {
    margin-right: 0;
  }
  /* Adjust banner layout */
  #banner {
    top: 20%;
    font-size: 10px;
  }
  #banner h2 {
    font-size: 15px;
    margin: 0;
  }
  #banner-container {
    height: 120px;
  }
  .banner-img {
    height: 120px;
  }
  /* Adjust certificate layout */

  .certificate-info:nth-child(1)::after {
    all: initial;
  }
  .certificate-info:nth-child(3) {
    border: none;
  }

  .certificate-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px !important;
    border-bottom: 1px solid #d6c08d;
  }
  .certificate-container {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
  }

  /* Adjust job info class layout */
  #job-info .container-custom {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* Adjust project layout */
  .project-container {
    margin-left: 15px;
    margin-right: 15px;
    display: block;
  }
  .project-detail {
    margin-bottom: 30px;
  }
  .project-info div {
    display: block;
  }
  .project-img {
    height: auto;
  }
  .project-detail {
    display: grid;
    grid-template-rows: max-content max-content auto auto;
    border: 1px solid rgb(185, 185, 185);
  }
  .project-name {
    height: auto;
  }
  .table tr:first-child {
    height: auto;
  }
  .table tr:nth-child(4) {
    height: auto;
  }
}
